<div class="conteiner">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h2 *ngIf="modoEdicion" class="text-center">Editar Pedido</h2>
            <h2 *ngIf="!modoEdicion" class="text-center">Nuevo Pedido</h2>
            <div class="row">
                <div class="col">
                    <form (ngSubmit)="guardar()" novalidate #f="ngForm" class="p-3 border rounded border-success">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="fecha_pedido">Fecha de Pedido</label>
                                    <input type="date" class="form-control" name="fecha_pedido" id="fecha_pedido"
                                        [(ngModel)]="pedido.fecha_pedido">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="via">Via</label>
                                    <input type="text" class="form-control" name="via" id="via" [(ngModel)]="pedido.via"
                                      required  >
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="provedor">Provedor</label>
                                    <input type="text" class="form-control" name="provedor" id="provedor"
                                        [(ngModel)]="pedido.provedor" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="clienteNombre">Cliente</label>
                                    <input type="text" class="form-control" name="clienteNombre" id="clienteNombre"
                                        [(ngModel)]="pedido.clienteNombre" required>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="n_pedido">N° de Pedido</label>
                                    <input type="text" class="form-control" name="n_pedido" id="n_pedido"
                                        [(ngModel)]="pedido.n_pedido"required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="n_factura">N° de Factura</label>
                                    <input type="text" class="form-control" name="n_factura" id="n_factura"
                                        [(ngModel)]="pedido.n_factura" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="n_remito">N° de Remito</label>
                                    <input type="text" class="form-control" name="n_remito" id="n_remito"
                                        [(ngModel)]="pedido.n_remito" required>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="monto">Monto</label>
                                    <input type="number" class="form-control" name="monto" id="monto"
                                        [(ngModel)]="pedido.monto" required >
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="estado">Estado</label>
                                    <select class="form-control" name="estado" id="estado" [(ngModel)]="pedido.estado"
                                        >
                                        <option value="PEDIDO">PEDIDO</option>
                                        <option value="EN_TRANSPORTE">EN TRANSPORTE</option>
                                        <option value="LLEGO">LLEGO</option>
                                        <option value="ENTREGADO_COLOCADO">ENTREGADO/COLOCADO</option>
                                        <option value="ANULADO">ANULADO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="fecha_llegada">Fecha de Llegada</label>
                                    <input type="date" class="form-control" name="fecha_llegada" id="fecha_llegada"
                                        [(ngModel)]="pedido.fecha_llegada">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="responsable">Responsable</label>
                                    <input type="text" class="form-control" name="responsable" id="responsable"
                                        [(ngModel)]="pedido.responsable" >
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="observaciones">Observaciones</label>
                                    <textarea style="resize: none;" rows="2" type="text" class="form-control"
                                        name="observaciones" id="observaciones"
                                        [(ngModel)]="pedido.observaciones"> </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <tr>
                                <td>
                                    <button class="btn btn-success btn-block" [disabled]="!f.valid"> <i
                                            class="fa-solid fa-floppy-disk" style="color: #000000;"></i>
                                        Guardar</button>
                                </td>
                                <td>
                                    <button class="btn  btn-secondary btn-block" routerLink="/pedido/lista"><i
                                            class="fa-solid fa-backward-fast" style="color: #000000;"></i>
                                        Volver</button>
                                </td>
                                <td>
                                    <button class=" btn btn-danger" (click)="borrar(pedido.id!)"
                                        routerLink="/pedido/lista"  *ngIf="modoEdicion">
                                        <i class="fa-solid fa-eraser" style="color: #000000;"></i>
                                        Borrar </button>
                                </td>
                            </tr>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>