<div class="medidass">
    <div class=" mt-5">
        <h1 class="text-center">Medidas <a class="btn btn-outline-success" routerLink="/medidas/nuevo"
                tooltip="Nuevas Medidas"> <i class="fa-solid fa-plus"></i></a></h1>

        <div class="container mb-5">
            <form>
                <div class="row align-items-center">
                    <!-- Cliente  -->
                    <div class="col">
                        <div class="text-center">
                            <label for="cliente" class="form-label"><b>Cliente</b></label>
                        </div>
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Nombre" name="cliente" id="cliente"
                                [(ngModel)]="busqueda.cliente" (input)="filtro()">
                        </div>
                    </div>

                    <!-- Filtro Viejo -->
                    <div class="col-2">
                        <div class="text-center">
                            <label class="form-label"><b>Es Viejo?</b></label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <mat-button-toggle-group name="viejo" id="viejo" aria-label="viejo"
                                [(ngModel)]="busqueda.viejo" (change)="filtro()">
                                <mat-button-toggle value="true">Si</mat-button-toggle>
                                <mat-button-toggle value="">Todos</mat-button-toggle>
                                <mat-button-toggle value="false">No</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>

                    <!-- Filtro Comprado -->
                    <div class="col-2">
                        <div class="text-center">
                            <label class="form-label"><b>Esta Comprado?</b></label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <mat-button-toggle-group name="comprado" id="comprado" aria-label="comprado"
                                [(ngModel)]="busqueda.comprado" (change)="filtro()">
                                <mat-button-toggle value="true">Si</mat-button-toggle>
                                <mat-button-toggle value="">Todos</mat-button-toggle>
                                <mat-button-toggle value="false">No</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>

                    <!-- Botón Borrar -->
                    <div class="col-1">
                        <div class="text-center">
                            <label for="reset" class="form-label"><b>Borrar Filtros</b></label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-danger" id="reset" (click)="borrarFiltros()">
                                <i class="fa-solid fa-eraser" style="color: #000000;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="container mb-3">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let group of medidasAgrupadas">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ group.cliente }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center align-middle">imp</th>
                                    <th scope="col" class="text-center align-middle">Sistema</th>
                                    <th scope="col" class="text-center align-middle">Ancho</th>
                                    <th scope="col" class="text-center align-middle">Alto</th>
                                    <th scope="col" class="text-center align-middle">Com</th>
                                    <th scope="col" class="text-center align-middle">Ap</th>
                                    <th scope="col" class="text-center align-middle">Caida / Largo</th>
                                    <th scope="col" class="text-center align-middle">Accesorios</th>
                                    <th scope="col" class="text-center align-middle">Ambiente</th>
                                    <th scope="col" class="text-center align-middle">Observaciones</th>
                                    <th scope="col" class="text-center align-middle">Fecha</th>
                                    <th scope="col" class="text-center align-middle">Encargar / Editar</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let medidas of group.items" [ngClass]="{'table-danger': medidas.viejo}">
                                    <td class="text-center">
                                        <input type="checkbox" name="{{medidas.id}}+{{medidas.cliente}}"
                                            (change)="onMedidasSelect(medidas, $event)">
                                    </td>
                                    <td>{{medidas.sistema}}</td>
                                    <td>{{medidas.ancho}}</td>
                                    <td>{{medidas.alto}}</td>
                                    <td>
                                        {{ medidas.comando === 'DERECHO' ? 'DER' :
                                        medidas.comando === 'IZQUIERDO' ? 'IZQ' : '- - -' }}
                                    </td>
                                    <td>
                                        {{ medidas.apertura === 'DERECHA' ? 'DER' :
                                        medidas.apertura === 'BILATERAL' ? 'BIL' :
                                        medidas.apertura === 'CENTRAL' ? 'CNT' :
                                        medidas.apertura === 'IZQUIERDA' ? 'IZQ' : '- - -' }}
                                    </td>
                                    <td class="col-1 text-center">{{ medidas.caida ? 'SI' : 'NO' }}</td>
                                    <td>{{medidas.accesorios}}</td>
                                    <td>{{medidas.ambiente}}</td>
                                    <td>{{medidas.observaciones}}</td>
                                    <td>{{medidas.fecha}}</td>
                                    <td class="text-center">

                                        <div class="btn-group dropstart">
                                            <button type="button"
                                                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <button class="btn btn-outline-primary ms-2"
                                                    (click)="enviarACotizador(medidas)" tooltip="Cotizar">
                                                    <i class="fa-solid fa-calculator" style="color: #000000;"></i>
                                                </button>
                                                <button class="btn btn-outline-success m-2"
                                                    routerLink="/medidas/editar/{{medidas.id}}" tooltip="Editar">
                                                    <i class="fa-solid fa-pencil" style="color: #000000;"></i>
                                                </button>
                                                <button class=" btn btn-outline-danger" (click)="borrar(medidas.id!)"
                                                    routerLink="/medidas/lista" tooltip="Borrar">
                                                    <i class="fa-solid fa-eraser" style="color: #000000;"></i>
                                                </button>
                                            </ul>


                                            <button *ngIf="medidas.comprado" class=" btn btn-outline-danger"
                                                (click)="comprar(medidas.id!)" routerLink="/medidas/lista"
                                                tooltip="Recuperar">
                                                <i class="fa-solid fa-thumbs-down" style="color: #000000;"></i>
                                            </button>
                                            <button *ngIf="!medidas.comprado" class=" btn btn-outline-primary"
                                                (click)="comprar(medidas.id!)" routerLink="/medidas/lista"
                                                tooltip="Encargar">
                                                <i class="fa-solid fa-thumbs-up" style="color: #000000;"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <button class="btn btn-outline-primary m-2" (click)="lgModal2.show()"
                (click)="buscarCliente(selectedMedidass[0].cliente)"><i class="fa-solid fa-print"
                    style="color: #000000;"></i> Imprimir</button>
            <button class="btn  btn-outline-secondary m-2" routerLink="/"><i class="fa-solid fa-backward-fast"
                    style="color: #000000;"></i>
                Volver</button>
        </div>
    </div>
</div>

<div bsModal #lgModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Datos del Cliente</h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal2.hide()" aria-label="Close">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="busqueda pt-4 pb-4">
                    <div class="container mb-5">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="form-grup">
                                        <label for="tel"><b>Telefono</b></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="tel" id="tel"
                                                [(ngModel)]="clienteBuscado.telefono" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-grup">
                                        <label for="direcc"><b>Direccion</b></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="direcc" id="direcc"
                                                [(ngModel)]="clienteBuscado.direccion">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                            <div class="row">
                                <div class="col">
                                    <button class=" btn btn-outline-primary  " (click)="generarYDescargarPdf()"><i
                                            class="fa-solid fa-print" style="color: #000000;"></i> Imprimir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>