<div class="pedidos">
    <div class=" mt-5">
        <h1 class="text-center">Pedidos <a class="btn btn-outline-success" routerLink="/pedido/nuevo"
                tooltip="Nuevo Pedido">
                +</a></h1>
        <div class="container mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha de Pedido</th>
                        <th scope="col">Provedor</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Responsable</th>
                        <th scope="col">N° de Pedido</th>
                        <th scope="col">N° de Factura</th>
                        <th scope="col">N° de Remito</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Llego</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let pedido of buscados">
                        <td>{{pedido.id}}</td>
                        <ng-container *ngIf="pedido.pasaron > 20 && !pedido.llego">
                            <td matBadge=" {{pedido.pasaron}}" matBadgeColor="warn" matBadgePosition="before">
                                {{pedido.fecha_pedido}}</td>
                        </ng-container>
                        <ng-container *ngIf="pedido.pasaron <= 20 ||  pedido.llego">
                            <td>{{pedido.fecha_pedido}}</td>
                        </ng-container>
                        <td>{{pedido.provedor}}</td>
                        <td tooltip="{{pedido.observaciones}}">{{pedido.clienteNombre}}</td>
                        <td>{{pedido.responsable}}</td>
                        <td>{{pedido.n_pedido}}</td>
                        <td>{{pedido.n_factura}}</td>
                        <td>{{pedido.n_remito}}</td>
                        <td>{{pedido.monto}}</td>
                        <td *ngIf="pedido.llego">{{pedido.fecha_llegada}}</td>
                        <td *ngIf="!pedido.llego"><input type="checkbox" [(ngModel)]="pedido.llego" id="{{pedido.id}}"
                                (change)="actualizar(pedido.id, pedido.llego)" /></td>
                        <td>{{pedido.estado}}</td>
                        <td> <button class="btn btn-outline-success" routerLink="/pedido/editar/{{pedido.id}}"
                                tooltip="Editar Pedido"> <i class="fa-solid fa-pencil" style="color: #000000;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-outline-success" (click)="lgModal.show()"><i class="fa-solid fa-magnifying-glass"
                    style="color: #000000;"></i> Buscar</button>
            &nbsp;
            <button class=" btn btn-outline-danger " id="reset" (click)="borrarFiltros()"><i class="fa-solid fa-eraser"
                    style="color: #000000;"></i> Borrar filtros</button>
            &nbsp;
            <button class="btn  btn-outline-secondary btn-block" (click)="volver()"><i class="fa-solid fa-backward-fast"
                    style="color: #000000;"></i>
                Volver</button>
        </div>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Filtros</h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="busqueda pt-4 pb-4">
                    <div class="container mb-5">
                        <form>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-grup">
                                        <label for="provedor"><b>Provedor</b></label>
                                        <div class="input-group">
                                            <input #provedor type="text" class="form-control" name="provedor"
                                                id="provedor" [(ngModel)]="busqueda.provedor" (input)="filtro()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-grup">
                                        <label for="clienteNombre"><b>Cliente</b></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="clienteNombre"
                                                id="clienteNombre" [(ngModel)]="busqueda.clienteNombre"
                                                (input)="filtro()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-grup">
                                        <label for="n_pedido"><b>N° de Pedido</b></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="n_pedido" id="n_pedido"
                                                [(ngModel)]="busqueda.n_pedido" (input)="filtro()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-grup">
                                        <label for="n_remito"><b>N° de Remito</b></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="n_remito" id="n_remito"
                                                [(ngModel)]="busqueda.n_remito" (input)="filtro()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-grup">
                                        <label for="n_factura"><b>N° de Factura</b></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="n_factura" id="n_factura"
                                                [(ngModel)]="busqueda.n_factura" (input)="filtro()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m-4">
                                    <div class="form-group">
                                        <label for="fecha_pedidoDesde"><b>Fecha Desde</b></label>
                                        <input type="date" class="form-group" name="fecha_pedidoDesde"
                                            id="fecha_pedidoDesde" [(ngModel)]="busqueda.fecha_pedidoDesde">
                                    </div>
                                </div>
                                <div class="col mt-4">
                                    <div class="form-group">
                                        <label for="fecha_pedidoHasta"><b>Fecha Hasta</b></label>
                                        <input type="date" class="form-group" name="fecha_pedidoHasta"
                                            id="fecha_pedidoHasta" [(ngModel)]="busqueda.fecha_pedidoHasta">
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="llego"><b>Llego</b></label>
                                    <div class="form-control">
                                        <label class="radio-inline">
                                            <input type="radio" name="llego" id="llego" [value]="''"
                                                [(ngModel)]="busqueda.llego" (change)="filtro()"> Todos
                                        </label>
                                        &nbsp;
                                        <label class="radio-inline">
                                            <input type="radio" name="llego" id="sillego" [value]="true"
                                                [(ngModel)]="busqueda.llego" (change)="filtro()"> Si
                                        </label>
                                        &nbsp;
                                        <label class="radio-inline">
                                            <input type="radio" name="llego" id="nollego" checked [value]="false"
                                                [(ngModel)]="busqueda.llego" (change)="filtro()"> No
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="estado"><b>Estado</b></label>
                                        <select class="form-control" name="estado" id="estado"
                                            [(ngModel)]="busqueda.estado" (change)="filtro()">
                                            <option v="">Todos</option>
                                            <option value="pedido">Pedido</option>
                                            <option value="en_transporte">En Transporte</option>
                                            <option value="llego">Llego</option>
                                            <option value="entregado_colocado">Entregado/Colocado</option>
                                            <option value="anulado">Anulado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="reset"><b>Filtro </b></label>
                                    <button class=" btn btn-outline-danger " id="reset" (click)="borrarFiltros()"><i
                                            class="fa-solid fa-eraser" style="color: #000000;"></i> Borrar
                                        filtros</button>
                                    &nbsp;
                                    <button class=" btn btn-outline-success  " (click)="filtro()"><i
                                            class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                                        Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>