<div class="conteiner">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h2 *ngIf="modoEdicion" class="text-center">Editar Confeccion</h2>
            <h2 *ngIf="!modoEdicion" class="text-center">Nueva Confeccion</h2>
            <form (ngSubmit)="guardar()" novalidate #f="ngForm" class="p-3 border rounded border-success">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="cliente">Cliente</label>
                            <input type="text" class="form-control" name="cliente" id="cliente"
                                [(ngModel)]="confeccion.clienteNombre">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="ancho">Ancho</label>
                            <input type="number" class="form-control" name="ancho" id="ancho" required
                                [(ngModel)]="confeccion.ancho" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="alto">Alto</label>
                            <input type="number" class="form-control" name="alto" id="alto" required
                                [(ngModel)]="confeccion.alto" required>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="apertura">Apertura</label>
                            <select class="form-control" name="apertura" id="apertura" [(ngModel)]="confeccion.apertura">
                                <option value="NO_POSEE"></option>
                                <option value="CENTRAL">Central</option>
                                <option value="BILATERAL">Bilateral</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-control" name="estado" id="estado" [(ngModel)]="confeccion.estado"
                                required>
                                <option value="PEDIDO">PEDIDO</option>
                                <option value="ENTREGADO_COLOCADO">ENTREGADO/COLOCADO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="entregadoEl">Pedido el</label>
                            <input type="date" class="form-control" name="entregadoEl" id="entregadoEl"
                                [(ngModel)]="confeccion.fecha_pedido">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="pedidoEl">Entregado el</label>
                            <input type="date" class="form-control" name="pedidoEl" id="pedidoEl"
                                [(ngModel)]="confeccion.fecha_entrega">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="accesorios">Accesorios</label>
                            <input type="text" class="form-control" name="accesorios" id="accesorios"
                                [(ngModel)]="confeccion.accesorios">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="ambiente">Ambiente</label>
                            <input type="text" class="form-control" name="ambiente" id="ambiente"
                                [(ngModel)]="confeccion.ambiente">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="observaciones">Observaciones</label>
                            <textarea style="resize: none;" rows="2" type="text" class="form-control"
                                name="observaciones" id="observaciones"
                                [(ngModel)]="confeccion.observaciones"> </textarea>
                        </div>
                    </div>
                </div>
                <br>
                 <div>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-block" [disabled]="!f.valid"> <i
                                    class="fa-solid fa-floppy-disk" style="color: #000000;"></i>
                                Guardar</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-block" routerLink="/taller/lista"><i
                                    class="fa-solid fa-backward-fast" style="color: #000000;"></i>
                                Volver</button>
                        </td>
                        <td>
                            <button class=" btn btn-danger" (click)="borrar(confeccion.id!)"
                                routerLink="/taller/lista"  *ngIf="modoEdicion">
                                <i class="fa-solid fa-eraser" style="color: #000000;"></i>
                                Borrar </button>
                        </td>
                    </tr>
                </div>
            </form>
        </div>
    </div>
</div>