<div class="conteiner">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h2 *ngIf="modoEdicion" class="text-center">Editar Medidas</h2>
            <h2 *ngIf="!modoEdicion" class="text-center">Nuevas Medidas</h2>
            <form (ngSubmit)="guardar()" novalidate #f="ngForm" class="p-3 border rounded border-success">
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="clienteNombre">Cliente</label>
                            <input type="text" class="form-control" name="clienteNombre" id="clienteNombre"
                                [(ngModel)]="presupuesto.clienteNombre">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="sistema">Sistema</label>
                            <select class="form-control" name="sistema" id="sistema" [(ngModel)]="presupuesto.sistema">
                                <option value=""></option>
                                <option *ngFor="let sistema of sistemas" [value]="sistema">{{ sistema }}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input type="date" class="form-control" name="fecha" id="fecha"
                                [(ngModel)]="presupuesto.fecha">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="ancho">Ancho</label>
                            <input type="number" class="form-control" name="ancho" id="ancho"
                                [(ngModel)]="presupuesto.ancho" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="alto">Alto</label>
                            <input type="number" class="form-control" name="alto" id="alto"
                                [(ngModel)]="presupuesto.alto" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="caida">Caida/Sop Largo</label>
                            <select class="form-control" name="caida" id="caida" required
                                [(ngModel)]="presupuesto.caida">
                                <option value="true">SI</option>
                                <option value="false">NO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="comando">Comando</label>
                            <select class="form-control" name="comando" id="comando" [(ngModel)]="presupuesto.comando">
                                <option value="NO_POSEE"></option>
                                <option value="DERECHO">Derecho</option>
                                <option value="IZQUIERDO">Izquiedo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="apertura">Apertura</label>
                            <select class="form-control" name="apertura" id="apertura"
                                [(ngModel)]="presupuesto.apertura">
                                <option value="NO_POSEE"></option>
                                <option value="DERECHA">Derecha</option>
                                <option value="IZQUIERDA">Izquieda</option>
                                <option value="CENTRAL">Central</option>
                                <option value="BILATERAL">Bilateral</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="accesorios">Accesorios</label>
                            <input type="text" class="form-control" name="accesorios" id="accesorios"
                                [(ngModel)]="presupuesto.accesorios">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="ambiente">Ambiente</label>
                            <input type="text" class="form-control" name="ambiente" id="ambiente"
                                [(ngModel)]="presupuesto.ambiente">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label for="observaciones">Observaciones</label>
                            <textarea style="resize: none;" rows="2" type="text" class="form-control"
                                name="observaciones" id="observaciones"
                                [(ngModel)]="presupuesto.observaciones"> </textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-block" [disabled]="!f.valid"> <i
                                    class="fa-solid fa-floppy-disk" style="color: #000000;"></i>
                                Guardar</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-block" routerLink="/presupuesto/lista"><i
                                    class="fa-solid fa-backward-fast" style="color: #000000;"></i>
                                Volver</button>
                        </td>
                        <td>
                            <button class=" btn btn-danger" (click)="borrar(presupuesto.id!)"
                                routerLink="/presupuesto/lista" *ngIf="modoEdicion">
                                <i class="fa-solid fa-eraser" style="color: #000000;"></i>
                                Borrar </button>
                        </td>
                    </tr>
                </div>
            </form>
        </div>
    </div>
</div>