<div class="pedidos">
  <div class="mt-5">
    <h1 class="text-center">
      Clientes
      <a class="btn btn-outline-success ms-2"
         routerLink="/cliente/nuevo"
         tooltip="Nuevo Cliente"
         aria-label="Nuevo Cliente">
        <i class="fa-solid fa-plus"></i>
      </a>
    </h1>

    <div class="container mb-3">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cliente</th>
              <th scope="col">Dirección</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let c of clientes">
              <td>{{ c.nombre }}</td>
              <td>{{ c.direccion }}</td>
              <td>{{ c.telefono }}</td>
              <td class="col-1">
                <button class="btn btn-outline-success"
                        routerLink="/cliente/editar/{{c.id}}"
                        tooltip="Editar">
                  <i class="fa-solid fa-pencil" style="color: #000000;"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-outline-secondary btn-block mt-3" routerLink="/">
        <i class="fa-solid fa-backward-fast" style="color: #000000;"></i> Volver
      </button>
    </div>
  </div>
</div>
