<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <h2 *ngIf="modoEdicion" class="text-center">Editar Cliente</h2>
      <h2 *ngIf="!modoEdicion" class="text-center">Nuevo Cliente</h2>
      <form (ngSubmit)="guardar()" novalidate #f="ngForm" class="p-3 border rounded border-success">
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="cliente.nombre" required>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input type="text" class="form-control" name="direccion" id="direccion" [(ngModel)]="cliente.direccion" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" class="form-control" name="telefono" id="telefono" [(ngModel)]="cliente.telefono" required>
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex justify-content-between gap-2">
          <button class="btn btn-success w-100" [disabled]="!f.valid">
            <i class="fa-solid fa-floppy-disk" style="color: #000000;"></i> Guardar
          </button>
          <button type="button" class="btn btn-secondary w-100" routerLink="/cliente/lista">
            <i class="fa-solid fa-backward-fast" style="color: #000000;"></i> Volver
          </button>
          <button type="button" *ngIf="modoEdicion" class="btn btn-danger w-100" (click)="borrar(cliente.id!)">
            <i class="fa-solid fa-eraser" style="color: #000000;"></i> Borrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
